html,
body {
  margin: 0%;
  height: 100%;
}

@mixin align-h-and-p {
  text-align: center;
}
@mixin pbg-sections {
  padding: 50px;
  .p {
    font-size: 14px;
    font-weight: 100;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgb(173, 173, 173);
  }
  .h5 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
  }
}

@mixin pbg-grid-sections {
  padding: 0 18px 18px 0;
}

/* PARALLAX */
.parallax-hero-container {
  min-height: 100%;
  background-image: url("/images/lady-lib-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  filter: opacity(0.8);

  .parallax-hero-content {
    position: relative;
    color: black;
    padding: 80px;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
  }
  .h1 {
    font-size: 67px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #fff;
  }
}

// WHAT WE STAND FOR SECTION

.stand-section h2 {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 90%;
  height: 80px;
  top: -50px;
  z-index: 1;
  margin: auto;
  border-radius: 16px;
  padding-top: 80px;
  font-size: 32px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  @include align-h-and-p();
}

.blocks-wrapper {
  display: flex;
  padding: 20px;
  @include align-h-and-p();
  @include pbg-sections();
}

// This one DID NOT work!????
.pinkgrid > .blue-grid > .green-grid {
  @include pbg-grid-sections();
}

/* ABOUT HESTIA - CITY BACKGROUND & PARALAXING */

.parallax-bg-container {
  background-image: url("/images/city-bldgs.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 150px;
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
  display: flex;
}

.parallax-bg-content {
  position: relative;
  top: 50%;
  left: 10%;
  width: 500px;
  padding-top: 80px;
  color: #fff;
  font-family: "Roboto Slab", "Times New Roman", serif;
  display: flex;
}
.city-float-pages img {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 500px;
}

// BOTTOM BLOG SECTION

.blog-container-main {
  width: 100%;
  height: 50px;
}

.blog-head-wrapper h2 {
  text-align: center;
  font-size: 32px;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

.uncategorized-wrapper {
  display: grid;
  grid-row: 1fr, 1r, 1fr;
  background-color: honeydew;
  row-gap: 20px;
  padding: 20px;
  text-align: center;
}
