html,
body {
  margin: 0%;
  height: 100%;
  background-color: rgb(219, 219, 219);
  z-index: 5;
  position: relative;
}

@mixin all-page-headers {
  font-size: 18px;
  color: white;
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Signika Negative", sans-serif;
  font-size: 42px;
  text-align: center;
  padding-top: 8%;
}

.h1,
h6 {
  @include all-page-headers();
}



  // color: rgb(0, 0, 0);
  // z-index: 1;
  // position: fixed;
  // background-color: rgb(255, 255, 255);
  // box-shadow: -1px -1px 20px -4px rgb(0 0 0 / 78%);
  // width: 100%;
  // top: 0px;
  // line-height: 30px;
}

// .main-container-main  {
//   background-color: white;
//   max-width: 100%;
//   margin: 0px 40px 0px 40px;
//   border-radius: 10px;
//   position: relative;
//   top: -150px;
//   box-shadow: -1px -1px 13px -4px rgba(0, 0, 0, 0.78);
//   -webkit-box-shadow: -1px -1px 13px -4px rgba(0, 0, 0, 0.78);
//   -moz-box-shadow: -1px -1px 13px -4px rgba(0, 0, 0, 0.78);
//   display: grid;
//   grid-auto-rows: auto;
// }
