html,
body {
  margin: 0%;
  height: 100%;
  /* background-color: rgb(188, 175, 175);
  z-index: -2; */
}

/* NAVIGATION BAR */
.nav-home-container {
  display: flex;
  color: rgb(0, 0, 0);
  margin-inline-end: 20px;
}

.nav-home-container > .hestia-wrapper > .hestia-name,
.nav-home-container > .links-wrapper > .main-nav-links,
.nav-home-container > .links-wrapper > .more-button {
  display: inline-block;
  padding: 15px 13px;
  cursor: pointer;
}

.hestia-wrapper {
  display: flex;
  margin-right: 800px;
}

.main-nav-links,
.more-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
  text-decoration: none;
}

/* PARALLAX */

.parallax-hero-container {
  background-image: url("../images/lady-lib.jpeg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll;
  color: white;
}

/* Gray background behind what we stand for */
.white-background-container {
  background-color: rgb(255, 255, 255);

  position: absolute;
  z-index: 2;
  width: 90%;
  /* height: 100%; */
}

.blocks-wrapper {
  display: flex;
}

/* What we stand for */

.stand-section {
  width: 100%;
}

/* ABOUT HESTIA - CITY BACKGROUND & PARALAXING */

.about-hestia > .city-float-pages img {
  box-sizing: border-box;
  height: auto;
  max-width: 50%;
  vertical-align: bottom;
}

.parallax-bg-container {
  background-image: url("/images/city-bldgs.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  filter: grayscale(0%);
}

.parallax-bg-container > .parallax-bg-content {
  position: absolute;
  top: 50%;
  left: 10%;
  color: #fff;

  font-family: "Roboto Slab", "Times New Roman", serif;
}

/* ABOUT HESTIA PARAGRAPH */
.p {
  font-size: 18px;
  /* font-family: "roboto slab", "helvetica", arial, sans-serif; */
}

.span {
  font-weight: 700;
}

.city-hestia {
  display: flex;
}

.city-float-pages img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

img {
  width: 50%;
  height: 20%;
}
